{% extends 'base.html.twig' %}

{% block title %}Backoffice O'Play{% endblock %}

{% block body %}
    <!-- main -->
    <div class="my-5 py-5 text-center">
        <h1 class="display-6 fw-bold">Bienvenue sur le backoffice d'O'Play</h1>
    </div>

    <div class="container-xl bg-light p-5 border-top">

        <div class="row mb-2 justify-content-center">
            <div class="col-12 col-lg-3 text-center">
                <h2 class="text-muted fw-bold mb-4">Menu</h2>
                <ul class="list-unstyled row">
                    <li><a href="" class="btn btn-primary mb-2">Liste des catégories</a></li>
                    <li><a href="" class="btn btn-primary mb-2">Liste des commandes</a></li>
                    <li><a href="" class="btn btn-primary mb-2">Liste des jeux</a></li>
                    <li><a href="" class="btn btn-primary mb-2">Liste des tags</a></li>
                    <li><a href="" class="btn btn-primary mb-2">Liste des thèmes</a></li>
                    <li><a href="" class="btn btn-primary mb-2">Liste des utilisateurs</a></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}